:root {
  --primary-color: #000;
  --secondary-color: #ab8ad2;
  --tertiary-color: #ffea00;
}

* {
  font-family: 'Abel', sans-serif;
}

p {
  font-size: 1.25rem;
}

li{
  font-size: 1.2rem;
}

.container{
  padding: 2rem;
}

.bodyText{
  padding: .5rem 2rem 2rem;
}

.inline-flex{
  display: flex;
  flex-direction: row;
}

.invisible-link{
  text-decoration: none;
  color: var(--primary-color);
}

.header{
  text-align: center;
  margin: 2rem;
  font-weight: 1000;
}

.show-small-screen{
  display: none;
}
/* NAV BAR */
.nav-item{
  padding: .5rem;
  --bs-nav-link-color: var(--primary-color);
  --bs-nav-underline-link-active-color: var(--secondary-color);
  --bs-nav-link-hover-color: var(--secondary-color);
}

/* Writeup */
.writeup-buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.writeup-button{
  width: 27%;
  height: 10rem;
  margin: 1rem;
  border-radius: 25px;
  border: solid .2rem var(--primary-color);
  background-color: var(--secondary-color);
}

.writeup-tags{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.writeup-tag{
  width: 8rem;
  margin-left: .5rem;
  margin-top: .75rem;
  background-color: var(--tertiary-color);
  border-radius: 25px;
  border: solid 1px var(--primary-color);
}

.writeup-nav-bar{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.writeup-pdf-display{
  width: 70%;
}

.comment-section{
  margin: 1rem;
  width: 40%;
}

/* profiles */
.all-profiles-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-container{
  display: flex;
  flex-direction: row;
  border: solid .2rem var(--secondary-color);
  border-radius: 25px;
  width: 27%;
  margin: 1rem;
}

.profile-text{
  display:flex;
  flex-direction: column;
  width: 60%;
  margin-top: 1rem;
}

.profile-image img{
  width: 80%;
}

.profile-image{
  width: 30%;
  margin: .5rem 0rem .5rem 1rem;
}

.profile-name{
  line-height: .2;
}

.profile-name h1{
  font-weight: 500;
}

.profile-socials{
  display:flex;
  align-items: center;
}

.profile-socials img{
  margin: 0rem 1rem 1rem 0rem;
}

/* Screen Sizes */
@media (max-width: 640px) {
  .profile-container{
    width: 50%; /* Full width on small screens */
  }
  .writeup-button{
    width: 50%;
  }
  .writeup-pdf-display{
    width: 90%;
  }
  .hide-small-screen{
    display: none;
  }
  .show-small-screen{
    display: block;
  }
}

@media (max-width: 430px) {
  .profile-container{
    width: 90%; /* Full width on small screens */
  }
  .writeup-button{
    width: 90%;
  }
  .comment-section{
    width: 80%;
  }
}

